@import "../../scss/mixins.scss";

.header{
  display: block;
  position: sticky;
  top:0;
  z-index: 1;
}

.header__top {
  @include spaceBetweenFlex();
  background-color: var(--n-300);
  color: var(--n-900);
  padding: 0 20px;
  font-size: 12px;
  width: 100%;

  .header__menu{
    @include centerFlex();
    flex: 1;
  }
  
  .header__search{
    @include centerFlex();
  }
  
  .header__option{
    @include alignFlex(center);
    padding:15px 30px;
    @include cursorPointer()
  }

  .header__option:hover {
    background-color: var(--n-900);
    color: var(--n-300);  
  }

  .header__search > .MuiSvgIcon-root{
    color: var(--n-900);
  }
}


.header__bottom{
  @include spaceBetweenFlex;
  background-color: var(--n-000);
  color: var(--n-900);
  font-size: 12px;
  padding: 25px 25px;
  width: 100%;
  position: relative;
}

.header__language{
  @include alignFlex(center);
  flex: 0.33;
}

.header__language > p {
  margin-left: 10px;
}

.header__logo__middle{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.33;  
  img{
    width: 250px;
  }
}

.header__right{
  @include alignFlex(center);
  flex: 0.33;
  justify-content: flex-end;

}
.header__cart{
  @include alignFlex(center);
}
