@import "../../scss/_mixins.scss";

.header{
  display: block;
  position: sticky;
  top:0;
  z-index: 1;
}

.header__top {
  @include spaceBetweenFlex();
  background-color: var(--n-300);
  color: var(--n-900);
  min-height: 50px;
  font-size: 12px;
  width: 100%;

  .header__menu{
    @include centerFlex();
    flex: 1;
  }
  
  .header__search{
    @include centerFlex();
  }
  
  .header__option{
    @include alignFlex(center);
    padding:15px 30px;
    @include cursorPointer()
  }

  .header__option:hover {
    background-color: var(--n-900);
    color: var(--n-300);  
  }

  .header__search > .MuiSvgIcon-root{
    color: var(--n-900);
  }
}


.header__bottom{
  @include spaceBetweenFlex;
  background-color: var(--n-000);
  color: var(--n-900);
  font-size: 12px;
  padding-right: 4rem;
  padding-left: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  position: relative;
}

.header__language{
  @include alignFlex(center);
  flex: 0.33;
}

.header__language > p {
  margin-left: 10px;
}

.header__logo__middle{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.33;  
  img{
    width: 260px;
  }
}

.header__right{
  @include alignFlex(center);
  flex: 0.33;
  justify-content: flex-end;

}
.header__cart{
  @include alignFlex(center);
}

.menu-toogle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  margin-left: 30px;
  position: relative;
}

.menu-toogle > input {
  position: absolute;
  width: 40px;
  height:28px;
  left:-6px;
  top:-3px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.menu-toogle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: var(--n-900);
  transition: all 0.5s;
}

.header__language__top{
  display: none;
}

// animation humberger meni
.menu-toogle span:nth-child(2){
  transform-origin: 0 0 ;
}
.menu-toogle span:nth-child(4){
  transform-origin: 0 100% ;
}

.menu-toogle input:checked ~ span:nth-child(2) {
  transform:rotate(45deg) translate(-1px, -1px);
}
.menu-toogle input:checked ~ span:nth-child(4) {
  transform:rotate(-45deg)  translate(-1px, 0px);
}

.menu-toogle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}




@media only screen and (min-width: 300px) and (max-width: 576px)  {
  @import "./toogleShow.scss";
  
  .header__language{
    display:none !important;
  }
  .header__language__top{
    display:flex !important;
  }


  .header__bottom{
    display: flex;
    justify-content: space-between !important;
  }

  .header__logo__middle{
    justify-content: flex-start !important;
  }
  .header__right{
    justify-content: flex-end !important;
  }

  .image__section > img {
    margin-right: 0;
  }

  .section__carousel{
    padding:0 !important;
  }

  .input__subcribe{
    margin: 0 !important;
  }
  .footer__section{
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
  }

  .fast__menu{
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start;
  }

  .header__bottom{
    padding-top: 1rem;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media only screen and (min-width: 980px) and (max-width: 1272px)  {
  .image__section > img {
    margin-right: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 980px)  {
  @import "./toogleShow.scss";


  .header__bottom{ 
    display: flex;
    justify-content: space-between !important;
  }

  .header__logo__middle{
    justify-content: flex-start !important;
  }
  .header__right{
    justify-content: flex-end !important;
  }

  .image__section > img {
    margin-right: 0;
  }

}


