@import "../../scss/mixins.scss";

.slicker {
    position: relative;
    margin-top: 40px;
    .slicker__top {
        @include spaceBetweenFlex;
        width: 100%;
        padding-right: 4rem;
        padding-left: 4rem;
        padding-bottom: 2rem;
        p {
            font-weight: 400;
            font-size: 1.2em;
        }
    }

    .slicker__product{
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar; 
    }
        
    .slicker__product::-webkit-scrollbar {
        display: none;
    }

    .previous {
        left: 20px;
        position: absolute;
        top: 50%;
        z-index: 0.2;
        cursor: pointer;
        outline-width: 0;
        color: var(--n-900);
    }

    .previous > .MuiSvgIcon-root{
        color: var(--n-900);
    }

    .previous:hover > .MuiSvgIcon-root{
        color: #fff !important;        
        background-color: rgba(0,0,0,.74);
    }

    .next > .MuiSvgIcon-root{
        color: var(--n-900);
    }

    .next:hover > .MuiSvgIcon-root{
        color: #fff !important;        
        background-color: rgba(0,0,0,.74);
    }

    .next {
        right: 20px;
        position: absolute;
        top: 50%;
        z-index: 0.2;
        cursor: pointer;
        outline-width: 0;
        color: var(--n-900);
    }
}

