@import "../../scss/mixins.scss";

.slicker {

    .slicker__top {
        @include spaceBetweenFlex;
        width: 100%;
       
        p {
            font-weight: 600;
        }
    }

    .slicker__product{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar; 
    }

        
    .slicker__product::-webkit-scrollbar {
        display: none;
    }
}

